body {
    background-color: aqua;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    color: cornsilk;
    background-color: black;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 5px 5px 5px grey;
}

.intro {
    text-decoration: underline;
}

.content {
    background-color: black;
    color: antiquewhite;
    box-shadow: 0px 0px 10px #992e2e;
    transform: rotate(1deg);
}

.content h1 {
    color: rgb(33, 47, 154);
    font-size: 30px;
}

.description {
    font-size: 18px;
    text-indent: 55px;
    text-transform: uppercase;
}